{"swagger":"2.0","info":{"description":"Offers the Delta Cargo APIs","version":"1.0.0","title":"Delta Cargo API","contact":{"name":"Delta Cargo","url":"https://www.deltacargo.com","email":"DLNorth.CargoSystems@delta.com"}},"host":"www.deltacargo.com","basePath":"/api-documents","tags":[{"name":"booking-controller","description":"Booking Controller"},{"name":"notification-subscription-controller","description":"Notification Subscription Controller"},{"name":"shipment-tracking-controller","description":"Shipment Tracking Controller"},{"name":"shopping-controller","description":"Shopping Controller"}],"paths":{"/cargoBookings/v1/bookings":{"get":{"tags":["booking-controller"],"summary":"Retrieve all active bookings","description":"Retrieve all active bookings","operationId":"retrieveBookingsUsingGET","produces":["application/json"],"parameters":[{"name":"limitNum","in":"path","description":"Limit is used for pagination of results. The number of records returned is limted to the number provided. Valid values: 1-25 Defaults to 10","required":false,"type":"integer","format":"int32"},{"name":"offsetNum","in":"path","description":"Offset is used for pagination of results. It represents the starting point of the records to return. Defaults to 1.","required":false,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Retrieve all active bookings","schema":{"$ref":"#/definitions/BookingsResult"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"post":{"tags":["booking-controller"],"summary":"Create a booking based on a quote","description":"Create a booking based on a quote","operationId":"createABookingUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/BookingRequest"}},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"201":{"description":"Create a booking based on a quote","schema":{"$ref":"#/definitions/Booking"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoBookings/v1/bookings/{airWaybillNum}":{"get":{"tags":["booking-controller"],"summary":"Retrieve a specific booking by ID","description":"Retrieve a specific booking by ID","operationId":"getABookingUsingGET","produces":["application/json"],"parameters":[{"name":"airWaybillNum","in":"path","description":"Air Waybill Number is an identifier for the booking and air waybill that is unique for the life of the booking/air waybill. Ex: 00612345678","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Retrieve a specific booking by ID","schema":{"$ref":"#/definitions/Booking"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"put":{"tags":["booking-controller"],"summary":"Update an existing booking","description":"Update an existing booking","operationId":"updateABookingUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"airWaybillNum","in":"path","description":"Air Waybill Number is an identifier for the booking and air waybill that is unique for the life of the booking/air waybill. Ex: 00612345678","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/BookingRequest"}},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Update an existing booking","schema":{"$ref":"#/definitions/Booking"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"delete":{"tags":["booking-controller"],"summary":"Cancel a specific booking by ID","description":"Cancel a specific booking by ID","operationId":"deleteABookingUsingDELETE","produces":["application/json"],"parameters":[{"name":"airWaybillNum","in":"path","description":"Air Waybill Number is an identifier for the booking and air waybill that is unique for the life of the booking/air waybill. Ex: 00612345678","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Cancel a specific booking by ID","schema":{"$ref":"#/definitions/CancelBooking"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoBookings/v1/health":{"get":{"tags":["booking-controller"],"summary":"Healthcheck","description":"Healthcheck of the application","operationId":"healthCheckUsingGET","produces":["*/*"],"responses":{"200":{"description":"Healthcheck of the application","schema":{"type":"string"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShipments/v1/health":{"get":{"tags":["shipment-tracking-controller"],"summary":"Healthcheck","description":"Healthcheck of the application","operationId":"healthCheckUsingGET_2","produces":["*/*"],"responses":{"200":{"description":"Healthcheck of the application","schema":{"type":"string"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShipments/v1/shipments":{"get":{"tags":["shipment-tracking-controller"],"summary":"Tracking shipments","description":"Retrieve all shipments","operationId":"retrieveShipmentsUsingGET","produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":" The MIME Type for the request. Example: text/json","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":" The MIME Type for the request. Example: text/json","required":true,"type":"string","default":"application/json"},{"name":"awbRangeText","in":"query","description":"Air Waybill Range Text is used to filter the result based on specific air waybill numbers. Ex: \"00612345678,00612345679\"","required":true,"type":"string","allowEmptyValue":false},{"name":"rangeText","in":"query","description":"Range Text identifies the range of records to retreive, for example: \"1-10\". The response will contain a rangeText header that contains the requested range as well as the total records available. Ex: \"1-10 of 50\"","required":false,"type":"string","allowEmptyValue":false},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Retrieve all shipments","schema":{"type":"array","items":{"$ref":"#/definitions/Shipment"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShipments/v1/shipments/{airWaybillNum}":{"get":{"tags":["shipment-tracking-controller"],"summary":"tracking shipment awb","description":"Retrieves a shipment for a specific airwaybill number","operationId":"trackAwbUsingGET","produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":" The MIME Type for the request. Example: text/json","required":true,"type":"string","default":"application/json"},{"name":"airWaybillNum","in":"path","description":"airWaybillNum","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Retrieves a shipment for a specific airwaybill number","schema":{"$ref":"#/definitions/Shipment"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShipments/v1/shipments/{airWaybillNum}/events":{"get":{"tags":["shipment-tracking-controller"],"summary":"Tracking shipment awb events","description":"Retrieve shipment events for a specific airwaybill","operationId":"trackAwbEventsUsingGET","produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":" The MIME Type for the request. Example: text/json","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":" The MIME Type for the request. Example: text/json","required":true,"type":"string","default":"application/json"},{"name":"airWaybillNum","in":"path","description":"airWaybillNum","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Tracking shipment events for a specific airwaybill number","schema":{"type":"array","items":{"$ref":"#/definitions/GoodsStatus"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShipments/v1/shipments/{airWaybillNum}/trackingDevices":{"get":{"tags":["shipment-tracking-controller"],"summary":"tracking shipment awb tracking devices","description":"Retrieve shipment trackers by airwaybill number","operationId":"shipmentAwbTrackerUsingGET","produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":" The MIME Type for the request. Example: text/json","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":" The MIME Type for the request. Example: text/json","required":true,"type":"string","default":"application/json"},{"name":"airWaybillNum","in":"path","description":"airWaybillNum","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Tracking shipment trackers for a specific airwaybill number","schema":{"type":"array","items":{"$ref":"#/definitions/TrackingDevice"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShipments/v1/shipments/{airWaybillNum}/transportPositions":{"get":{"tags":["shipment-tracking-controller"],"summary":"tracking shipment transportation positions","description":"Retrieve shipment positions while in transport by airwaybill number","operationId":"retrieveShipmentTransportPositionsByAWBUsingGET","produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":" The MIME Type for the request. Example: text/json","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":" The MIME Type for the request. Example: text/json","required":true,"type":"string","default":"application/json"},{"name":"airWaybillNum","in":"path","description":"airWaybillNum","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Tracking shipment position for a specific airwaybill number","schema":{"$ref":"#/definitions/TransportPosition"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShopping/v1/generateQuotes":{"post":{"tags":["shopping-controller"],"summary":"Generate new quotes","description":"Generate new quotes","operationId":"generateQuotesUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/QuotesRequest"}},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"201":{"description":"Generate new quotes","schema":{"$ref":"#/definitions/QuotesResponse"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShopping/v1/health":{"get":{"tags":["shopping-controller"],"summary":"Healthcheck","description":"Healthcheck of the application","operationId":"healthCheckUsingGET_3","produces":["*/*"],"responses":{"200":{"description":"Healthcheck of the application","schema":{"type":"string"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShopping/v1/quoteTransactions/{quoteTransactionId}/pickupDelivery":{"put":{"tags":["shopping-controller"],"summary":"Apply/update pick-up/delivery service on all quotes generated in a specific transaction","description":"Apply/update pick-up/delivery service on all quotes generated in a specific transaction","operationId":"applyPickupDeliveryQuoteUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/PickupDeliveryRequest"}},{"name":"quoteId","in":"path","description":"quoteId","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Apply/update pick-up/delivery service on all quotes generated in a specific transaction","schema":{"$ref":"#/definitions/Quote"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShopping/v1/quotes":{"get":{"tags":["shopping-controller"],"summary":"Retrieve existing quotes","description":"Retrieve existing quotes","operationId":"retrieveQuotesUsingGET","produces":["application/json"],"parameters":[{"name":"generateQuotesTransactionId","in":"query","description":"Generate Quotes Transaction Identifier is the transaction id returned by the generate quotes request","required":false,"type":"string","allowEmptyValue":false},{"name":"rangeText","in":"query","description":"Range of records to retreive, for example: \"1-10 of 50\"","required":false,"type":"string","allowEmptyValue":false},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Retrieve existing quotes","schema":{"type":"array","items":{"$ref":"#/definitions/Quote"}}},"206":{"description":"Partial Content","schema":{"type":"array","items":{"$ref":"#/definitions/Quote"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShopping/v1/quotes/{quoteId}":{"get":{"tags":["shopping-controller"],"summary":"Retrieve a specific quote for the given quote id","description":"Retrieve a specific quote for the given quote id","operationId":"getQuoteUsingGET","produces":["application/json"],"parameters":[{"name":"quoteId","in":"path","description":"quoteId","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Retrieve a specific quote for the given quote id","schema":{"$ref":"#/definitions/Quote"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"put":{"tags":["shopping-controller"],"summary":"Update an existing quote","description":"Update an existing quote","operationId":"updateQuoteUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/QuotesRequest"}},{"name":"quoteId","in":"path","description":"quoteId","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"201":{"description":"Update an existing quote","schema":{"type":"array","items":{"$ref":"#/definitions/Quote"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"delete":{"tags":["shopping-controller"],"summary":"Cancel a specific quote for the given quote id","description":"Cancel a specific quote for the given quote id","operationId":"deleteQuoteUsingDELETE","produces":["application/json"],"parameters":[{"name":"quoteId","in":"path","description":"quoteId","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Cancel a specific quote for the given quote id","schema":{"$ref":"#/definitions/Quote"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShopping/v1/quotes/{quoteId}/declaredValueAndInsurance":{"get":{"tags":["shopping-controller"],"summary":"Retrieve Declared Value and/or All-Risk Insurance service on a Quote","description":"Retrieve Declared Value and/or All-Risk Insurance service on a Quote","operationId":"getDeclaredValueAndInsuranceUsingGET","produces":["application/json"],"parameters":[{"name":"quoteId","in":"path","description":"Quote ID is the id on which the insurance service is based. Ex: 39013460-a5f4-11ea-bb37-0242ac130002","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Retrieve Declared Value and/or All-Risk Insurance service on a Quote","schema":{"$ref":"#/definitions/DeclaredValueAndInsuranceServiceQuote"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"put":{"tags":["shopping-controller"],"summary":"Apply Declared Value and/or All-Risk Insurance service to a Quote","description":"Apply Declared Value and/or All-Risk Insurance service to a Quote","operationId":"applyInsuranceToAQuoteUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/DeclaredValueAndInsuranceRequest"}}},{"name":"quoteId","in":"path","description":"Quote ID is the id on which the insurance service is based. Ex: 39013460-a5f4-11ea-bb37-0242ac130002","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"201":{"description":"Apply Declared Value and/or All-Risk Insurance service to a Quote","schema":{"$ref":"#/definitions/DeclaredValueAndInsuranceServiceQuote"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"delete":{"tags":["shopping-controller"],"summary":"Delete Declared Value and/or All-Risk Insurance service from a Quote","description":"Delete Declared Value and/or All-Risk Insurance service from a Quote","operationId":"deleteInsuranceFromQuoteUsingDELETE","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/DeclaredValueAndInsuranceRequest"}},{"name":"quoteId","in":"path","description":"Quote ID is the id on which the insurance service is based. Ex: 39013460-a5f4-11ea-bb37-0242ac130002","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Delete Declared Value and/or All-Risk Insurance service from a Quote","schema":{"$ref":"#/definitions/DeclaredValueAndInsuranceServiceQuote"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShopping/v1/quotes/{quoteId}/declaredValueAndInsuranceQuote":{"post":{"tags":["shopping-controller"],"summary":"Get a quote on Declared Value and/or All-Risk Insurance service without applying it to a shipment quote","description":"Get a quote on Declared Value and/or All-Risk Insurance service without applying it to a shipment quote","operationId":"getDeclaredValueAndInsuranceWithoutApplyingToAQuoteUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/DeclaredValueAndInsuranceRequest"}},{"name":"quoteId","in":"path","description":"Quote ID is the id on which the insurance service is based. Ex: 39013460-a5f4-11ea-bb37-0242ac130002","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"201":{"description":"Get a quote on Declared Value and/or All-Risk Insurance service without applying it to a shipment quote","schema":{"$ref":"#/definitions/DeclaredValueAndInsuranceServiceQuote"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShopping/v1/quotes/{quoteId}/pickupDelivery":{"get":{"tags":["shopping-controller"],"summary":"Retrieve pick-up/delivery service information for a quote.","description":"Retrieve pick-up/delivery service information for a quote.","operationId":"getPickupDeliveryQuoteUsingGET","produces":["application/json"],"parameters":[{"name":"quoteId","in":"path","description":"quoteId","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Retrieve pick-up/delivery service information for a quote.","schema":{"$ref":"#/definitions/PickupDeliveryQuote"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"put":{"tags":["shopping-controller"],"summary":"Apply/update pick-up/delivery service on an existing quote","description":"Apply/update pick-up/delivery service on an existing quote","operationId":"createPickupDeliveryQuoteUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/PickupDeliveryRequest"}},{"name":"quoteId","in":"path","description":"quoteId","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"201":{"description":"Apply/update pick-up/delivery service on an existing quote","schema":{"$ref":"#/definitions/PickupDeliveryQuote"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"delete":{"tags":["shopping-controller"],"summary":"Remove pick-up/delivery service from a quote.","description":"Remove pick-up/delivery service from a quote.","operationId":"deletePickupDeliveryQuoteUsingDELETE","produces":["application/json"],"parameters":[{"name":"quoteId","in":"path","description":"quoteId","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"201":{"description":"Remove pick-up/delivery service from a quote.","schema":{"$ref":"#/definitions/PickupDeliveryQuote"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoShopping/v1/quotes/{quoteId}/pickupDeliveryQuote":{"post":{"tags":["shopping-controller"],"summary":"Get a quote on quote on pick-up/delivery service without applying it to a shipment quote","description":"Get a quote on quote on pick-up/delivery service without applying it to a shipment quote","operationId":"getPickupDeliveryOnlyQuoteUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/PickupDeliveryRequest"}},{"name":"quoteId","in":"path","description":"quoteId","required":true,"type":"string"},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Apply/update pick-up/delivery service on all quotes generated in a specific transaction","schema":{"$ref":"#/definitions/PickupDeliveryQuote"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoSubscriptions/v1/health":{"get":{"tags":["notification-subscription-controller"],"summary":"Healthcheck","description":"Healthcheck of the application","operationId":"healthCheckUsingGET_1","produces":["*/*"],"responses":{"200":{"description":"Healthcheck of the application","schema":{"type":"string"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoSubscriptions/v1/subscription/{subscriptionId}":{"get":{"tags":["notification-subscription-controller"],"summary":"Get Subscription details for consumer based on subscription id","description":"Get Subscription details for consumer based on subscription id","operationId":"retrieveSubscriptionUsingGET","produces":["application/json"],"parameters":[{"name":"subscriptionId ","in":"query","description":"Subscription ID is a unique identifier for the subscription","required":true,"type":"string","allowEmptyValue":false},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Subscription succesfully deleted","schema":{"type":"array","items":{"$ref":"#/definitions/Subscription"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"delete":{"tags":["notification-subscription-controller"],"summary":"Delete a subscription by ID","description":"Delete a subscription by ID","operationId":"deleteASubscriptionUsingDELETE","produces":["application/json"],"parameters":[{"name":"subscriptionId ","in":"query","description":"Subscription ID is a unique identifier for the subscription","required":true,"type":"string","allowEmptyValue":false},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Subscription succesfully deleted","schema":{"$ref":"#/definitions/Subscription"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/cargoSubscriptions/v1/subscriptions":{"get":{"tags":["notification-subscription-controller"],"summary":"Get all of the subscriptions details for a consumer","description":"Get all of the subscriptions details for a consumer","operationId":"getAllSubscriptionsUsingGET","produces":["application/json"],"parameters":[{"name":"participantId","in":"query","description":"Participant ID uniquely identifies a participant.","required":false,"type":"string","allowEmptyValue":false},{"name":"targetText","in":"query","description":"Target Text is used to filter the results based on a specific target. Ex: john.doe@delta.com","required":false,"type":"string","allowEmptyValue":false},{"name":"targetTypeCode","in":"query","description":"Target Type Code is used to filter the results based on the type of notification that is generated. Ex: EMAIL","required":false,"type":"string","allowEmptyValue":false},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Get all of the subscriptions details for a consumer","schema":{"type":"array","items":{"$ref":"#/definitions/Subscription"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"post":{"tags":["notification-subscription-controller"],"summary":"Create a new subscription","description":"Create a new subscription","operationId":"createNewSubscriptionUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/SubscriptionRequest"}},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"201":{"description":"Successful creation of subscription","schema":{"$ref":"#/definitions/Subscription"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"put":{"tags":["notification-subscription-controller"],"summary":"Update a subscription","description":"Update a subscription, replacing it with the details provided","operationId":"updateASubscriptionUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/SubscriptionRequest"}},{"name":"subscriptionId ","in":"query","description":"Subscription ID is a unique identifier for the subscription","required":true,"type":"string","allowEmptyValue":false},{"name":"transactionId","in":"header","description":"A unique consumer generated ID generated for each request.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful creation of subscription","schema":{"$ref":"#/definitions/Subscription"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unathorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"502":{"description":"Bad Gateway","schema":{"$ref":"#/definitions/Error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Error"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}}},"definitions":{"Address":{"type":"object","required":["addressLines","cityLocalityName","countrySubdivisionCode","postalCode"],"properties":{"addressLines":{"type":"array","description":"Address Lines specifies the undefined lines of a geographic address.","items":{"type":"string"}},"cityLocalityName":{"type":"string","description":"City Locality Name specifies the name of a city, municipality, county or ward. Ex: New York"},"countryCode":{"type":"string","description":"Country Code specifies a region or territory.  Ex: US=United States of America  (ISO 3166-1 alpha-2 format)"},"countrySubdivisionCode":{"type":"string","description":"Country Subdivision Code uniquely identifies the divisions used by countries and their major dependent territories.  Ex:  GA=Georgia (US), VIC=Victoria (AU) (ISO 3166-2)"},"latitudeDegreeNum":{"type":"string","description":"Latitude Degree Number specifies the latitude in degrees. Ex: 38.8951"},"longitudeDegreeNum":{"type":"string","description":"Longitude Degree Number specifies the longitude in degrees. Ex: -77.0364"},"postalCode":{"type":"string","description":"Postal Code uniquely identifies a geographical area defined for mail delivery.  Example:  30854-1801=Atlanta, Georgia"}},"title":"Address","description":"Address represents information pertaining to a physical location at which an entity, person or organization may receive or send communications."},"AircraftPosition":{"type":"object","properties":{"aircraftHeadingDegreeNum":{"type":"number","format":"float","description":"Aircraft Heading Degree Number is the compass direction in which the aircraft's nose is pointed. Example: 90=east, 180=south, 270=west, 0 or 360=north"},"altitudeFeetCnt":{"type":"number","format":"float","description":"Altitude Feet Count is the altitude in foot measurement."},"altitudeKilometerCnt":{"type":"number","format":"float","description":"Altitude Kilometer Count is the altitude in kilometers measurement."},"atArrivalPositionCode":{"type":"string","description":"At Arrival Position Code denotes whether or not the flight arrived at position."},"atDeparturePositionCode":{"type":"string","description":"At Departure Position Code denotes whether or not the flight departed at position."},"currentTimeMillisecondCnt":{"type":"integer","format":"int32","description":"Current Time Millisecond Count represents the time in milliseconds."},"geographicCoordinate":{"$ref":"#/definitions/GeographicCoordinate"},"inFlightDuration":{"$ref":"#/definitions/Duration"},"kilometerPerHourCnt":{"type":"number","format":"float","description":"Kilometer Per Hour Count represent the speed in kilometers."},"milePerHourCnt":{"type":"number","format":"float","description":"Mile Per Hour Count represents the speed in miles."},"remainingFlightDuration":{"$ref":"#/definitions/Duration"}},"title":"AircraftPosition","description":"Aircraft Position indicates the position of the flight with respect to various parameters."},"Airport":{"type":"object","required":["airportCode"],"properties":{"airportCode":{"type":"string","description":"Airport Code specifies a geographic location where aircraft arrive and depart.  Example:  LAX=Los Angeles Int.  (IATA format)"},"elevationFeetCnt":{"type":"integer","format":"int32","description":"Elevation Feet Count specifies the number of feet to a resolution of one foot for the elevation above Mean Sea Level for a location."},"geographicCoordinate":{"$ref":"#/definitions/GeographicCoordinate"}},"title":"Airport","description":"Airport represents a geographic location where aircraft arrive and depart."},"Booking":{"type":"object","required":["airWaybillNum","bookingId","links","participants","pricing","product","rateId","routing","shipmentCharacteristics","shipmentDesc","statusCode"],"properties":{"airWaybillNum":{"type":"string","description":"Air Waybill Number is an identifier for the booking and air waybill that is unique for the life of the booking/air waybill. Ex: 00612345678"},"bookingId":{"type":"string","description":"Booking Identifier is a system generated unique identifier for the booking"},"bookingRemarks":{"type":"string","description":"Booking Remarks is a free text description of the booking (max 125 characters)"},"hashCode":{"type":"string","description":"Hash Code is used to verify the integrity of the data object"},"links":{"type":"array","description":"Links define additional actions or resources related to the requested action or resource.  For example, a booking resource has a link to the quote resource on which the booking was based","items":{"$ref":"#/definitions/Link"}},"participants":{"type":"array","description":"Participants are people, entities, or organizations that play a roll on the booking, Examples: Shipper, Agent, Consignee","items":{"$ref":"#/definitions/Participant"}},"pricing":{"$ref":"#/definitions/Pricing"},"product":{"$ref":"#/definitions/Product"},"quoteId":{"type":"string","description":"Quote Identifier is the identifier of the quote on which this booking was based"},"rateId":{"type":"string","description":"Rate Identifier is the identifier for the rate used for the weight charges on this booking"},"routing":{"$ref":"#/definitions/ShipmentRouting"},"shipmentCharacteristics":{"$ref":"#/definitions/ShipmentCharacteristics"},"shipmentDesc":{"type":"string","description":"Shipment Description must contain an accurate explanation of the contents  being shipped (max 50 characters)"},"statusCode":{"type":"string","description":"Status Code identifies the current status of the booking. Ex: ACCEPTED","enum":["CONFIRMED","ACCEPTED","REJECTED","PENDING","NO-SHOW","JV-BOOKING-REQUESTED","UNCONFIRMED","CANCELLED","PICKED-UP","CHECKED-IN","TRANSIT","READY-FOR-DELIVERY","DELIVERED","OUT-FOR-DELIVERY"]}},"title":"Booking","description":"Booking represents a request for transportation of a cargo shipment"},"BookingRequest":{"type":"object","required":["quoteId","shipmentDesc"],"properties":{"airWaybillNum":{"type":"string","description":"Air waybill Number is an identifier for the booking and air waybill that is unique for the life of the booking/air waybill. Ex: 00612345678"},"bookingRemarks":{"type":"string","description":"Booking Remarks is a free text description of the booking (max 125 characters)"},"participants":{"type":"array","description":"Participants are people, entities, or organizations that play a roll on the booking, Examples: Shipper, Agent, Consignee","items":{"$ref":"#/definitions/Participant"}},"quoteId":{"type":"string","description":"Quote Id is the identifier of the quote on which this booking was based"},"shipmentDesc":{"type":"string","description":"Shipment Description must contain an accurate explanation of the contents  being shipped (max 50 characters)"}},"title":"BookingRequest","description":"Booking Request is the information needed in order to create a booking"},"BookingsResult":{"type":"object","required":["bookings","limitNum","offsetNum","totalNum"],"properties":{"bookings":{"type":"array","description":"Bookings is an array of bookings representing requests for transportation of cargo shipments","items":{"$ref":"#/definitions/Booking"}},"limitNum":{"type":"integer","format":"int32","description":"Limit is used for pagination of results.  The number of records returned is limted to the number provided.  Defaults to 10."},"offsetNum":{"type":"integer","format":"int32","description":"Offset is used for pagination of results.  It represents the starting point of the records to return.  Defaults to 1."},"totalNum":{"type":"integer","format":"int32","description":"Total identifies the total number of records in the result set"}},"title":"BookingsResult","description":"Bookings Result is the result of a request that can return multiple bookings, and includes pagination information on what was returned"},"BupContainer":{"type":"object","required":["containerDesc","containerQty","uldType","weightQty"],"properties":{"containerDesc":{"type":"string","description":"Container Description is a free text description of the BUP."},"containerQty":{"type":"integer","format":"int32","description":"Container Quantity is the number of BUP containers of the specified type and weight"},"uldType":{"$ref":"#/definitions/UldType"},"volumeQty":{"type":"number","format":"float","description":"Volume Quantity is the volume of the container"},"weightQty":{"type":"number","format":"float","description":"Weight quantity is the gross weight of the container"}},"title":"BupContainer","description":"BUP (Bulk Utilization Program) Container represents shipper loaded containers which are transported intact by the carrier"},"CancelBooking":{"type":"object","properties":{"bookings":{"type":"array","items":{"$ref":"#/definitions/Booking"}}},"title":"CancelBooking"},"Charge":{"type":"object","required":["chargeAmt","chargeType","currencyCode"],"properties":{"basisCode":{"type":"string","description":"Basis Code represents the charge basis code. Ex: CHARGEABLE_WEIGHT","enum":["CHARGEABLE_WEIGHT","GROSS_WEIGHT","PIECE"]},"basisQty":{"type":"integer","format":"int32","description":"Basis Quantity represents the charge basis quantity"},"chargeAmt":{"type":"number","format":"float","description":"Charge Amount represents the charge amount as determined by the rate amount applied to the unit basis"},"chargeCode":{"type":"string","description":"Charge Code represents the charge code"},"chargeDesc":{"type":"string","description":"Charge Description is a textual description of the charge"},"chargeType":{"type":"string","description":"Charge Type is the type of the charge. Ex: CONTRACT","enum":["MARKET","CONTRACT","CONTRACT_PLUS","SPOT","PROMO","MANUAL","CAPACITY_AGREEMENT","GROUND_FIRST_MILE","GROUND_FINAL_MILE"]},"currencyCode":{"type":"string","description":"Currency Code identifies a medium of exchange which allows for the translation of different-valued denominations of money across the world. Example: USD=US Dollar (ISO 4217 format)"},"loadTypeCode":{"type":"string","description":"Load Type Code represents the load type. Ex: Bulk","enum":["BULK","BUP"]},"paymentLocationCode":{"type":"string","description":"Payment Location Code represents where payment is made. Ex: Origin","enum":["ORIGIN","DESTINATION"]},"paymentMethodCode":{"type":"string","description":"Payment Method Code represents the payment method type. Ex: Debit","enum":["DEBIT","ACCOUNT"]},"publishedCharge":{"$ref":"#/definitions/PublishedCharge"},"rateAmt":{"type":"number","format":"float","description":"Rate Amount represents the rate that is applied to the unit basis in order to determine a charge."},"rateId":{"type":"string","description":"Rate Id uniquely identifies a rate"},"uldType":{"$ref":"#/definitions/UldType"},"unitCode":{"type":"string","description":"Unit Code represents the unit measure. Ex: FLAT","enum":["FLAT","MINIMUM","PER_UNIT_BASIS"]}},"title":"Charge","description":"Charge represents the cost of a service billed to a customer and the criteria that is used to determine that cost"},"Contact":{"type":"object","properties":{"address":{"$ref":"#/definitions/Address"},"contactName":{"type":"string","description":"Contact Name is the name of an entity, person or organization. Ex: Joe Willis"},"emailAdr":{"type":"string","description":"Contact Email Address is the email address by which an entity, person or organization may be contacted. Ex: joe.willis@gmail.com"},"phoneNum":{"type":"string","description":"Phone Number is the phone number by which an entity, person or organization may be contacted. Ex: 641-754-3010"}},"title":"Contact","description":"Contact represents information to enable communication with an entity, person or organization"},"CustomsStatus":{"type":"object","properties":{"customsStatusCode":{"type":"string","description":"Customs Status Code represents the customs clearance status for the shipment"},"destinationAirportCode":{"type":"string","description":"Destination Airport Code prepresents the destination airport associated to the customs status"},"houseAirWaybillNum":{"type":"string","description":"House Air Waybill Number is an identifier a bill of lading issued by a freight forwarder for consolidated air freight shipments. It is a contract between the shipper and freight forwarder."},"originAirportCode":{"type":"string","description":"Origin Airport Code represents the origin airport associated to the customs status"},"piecesCnt":{"type":"integer","format":"int32","description":"Pieces Count is the number of individual pieces of the shipment with the defined status"},"statusTs":{"type":"string","format":"date-time","description":"Status Timestamp is the timestamp of when the status occured"}},"title":"CustomsStatus","description":"Customs Status contains information on the state of customs clearance for a shipment"},"DangerousGoods":{"type":"object","properties":{"dangerousGoodsParcels":{"type":"array","description":"Dangerous Goods Parcels represents the way that the individual dangerous goods are packaged","items":{"$ref":"#/definitions/DangerousGoodsParcel"}},"specialAuthorizationName":{"type":"string","description":"Special Authorization Name identifies the type of special authorization.  Ex: \"Competent Authorization\",\"Explosive Authorization\"","enum":["Competent Authorization","Explosive Authorization","Authorization Number","Special Provision"]},"specialAuthorizationNum":{"type":"string","description":"Special Authorization Number identifies the specific special authorization that was granted.  Alphanumeric, Maximum of 15 characters.  Max 4 characters for \"Special Provision\".  Ex: \"APSQ\""}},"title":"DangerousGoods","description":"Dangerous Goods contains information on any hazardous materials that are included in the shipment"},"DangerousGoodsItems":{"type":"object","required":["piecesCnt"],"properties":{"classNum":{"type":"string","description":"Class Number identifies the dangerous goods class.  Dangerous goods are divided into nine classes (in addition to several subcategories) on the basis of the specific chemical characteristics producing the risk.  Ex: 4.3"},"measurement":{"$ref":"#/definitions/Measurement"},"packingGroupCode":{"type":"string","description":"Packing Group Code is used for the purpose of determining the degree of protective packaging required for dangerous goods during transportation:  Group I: great danger, and most protective packaging required. Some combinations of different classes of dangerous goods on the same vehicle or in the same container are forbidden if one of the goods is Group I.  Group II: medium danger  Group III: minor danger among regulated goods, and least protective packaging within the transportation requirement","enum":["I","II","III"]},"packingInstructionsNum":{"type":"string","description":"Packing Instructions Number is a number that references the appropriate packing instructions document.  It identifies the packaging requirements for the DG."},"piecesCnt":{"type":"integer","format":"int32","description":"Pieces count is the number of individual pieces of these dangerous goods"},"quantityCategoryName":{"type":"string","description":"Quantity Category is related to the quantity of DG and identifies if the DG shipment is fully regulated or falls into a lesser category. Ex: \"Fully Regulated Packaging\"","enum":["Fully Regulated Packaging","Limited Quantity Packaging","Excepted Quantity Inner Packaging","Excepted Quantity Outer Packaging","De Minimis Packaging"]},"unNum":{"type":"string","description":"UN numbers (United Nations numbers) are four-digit numbers that identify hazardous materials, and articles (such as explosives, flammable liquids, oxidizers, toxic liquids, etc.) in the framework of international transport. May also be an ID number: Substances with an ID number are associated with proper shipping names recognized by the ICAO Technical Instructions.  ID 8000, Consumer commodity does not have a UN or NA number, and is classed as a Class 9 hazardous material. Ex: \\\"UN3481\\\", \\\"ID8000\\\""},"unNumDescriptionText":{"type":"string","description":"UN Number Description is a textual description of the dangerous goods represented by the UN number.  Ex: \"Lithium ion batteries contained in equipment including lithium ion polymer batteries\""},"unNumShortDescriptionText":{"type":"string","description":"UN Number Short Description is a shortened textual description of the dangerous goods represented by the UN number.  Ex: \"Lithium ion batteries contained in equipment\""}},"title":"DangerousGoodsItems","description":"Dangerous Goods Items identify the number of pieces, quantity, type, and packaging requirements of dangerous goods"},"DangerousGoodsParcel":{"type":"object","required":["packagingTypeCode"],"properties":{"dangerousGoodsItemsList":{"type":"array","description":"Dangerous Goods Items List represents an array of dangerous goods items.","items":{"$ref":"#/definitions/DangerousGoodsItems"}},"packagingTypeCode":{"type":"string","description":"Packaging Type Code identifies how the dangerous goods are packaged:  APIO = All Packed in One: One package/container contains all of the listed dangerous goods.  Overpack = There are multiple items wrapped together or containerized, each of which contain the listed dangerous goods.  Loose = Each dangerous item is packaged separately"}},"title":"DangerousGoodsParcel","description":"Dangerous Goods Parcel represents a grouping within a dangerous goods shipment and the way that the individual dangerous goods are packaged.  Can represent loose, APIO, or an overpack."},"DeclaredValueAndInsuranceRequest":{"type":"object","required":["currencyCode","declaredValueAmt","insuranceAmt"],"properties":{"currencyCode":{"type":"string","description":"Currency Code identifies a medium of exchange which allows for the translation of different-valued denominations of money across the world. Example: USD=US Dollar (ISO 4217 format)"},"declaredValueAmt":{"type":"number","format":"float","description":"Declared Value Amount is the declared value of the shipment.  Available for both domestic and international shipments."},"insuranceAmt":{"type":"number","format":"float","description":"Insurance Amount is the insured value of the shipment.  Available only for international shipments."}},"title":"DeclaredValueAndInsuranceRequest","description":"Declared Value and Insurance Request represents the information needed to apply declared value and add insurance to a quote"},"DeclaredValueAndInsuranceServiceQuote":{"type":"object","required":["currencyCode","declaredValueAmt","insuranceAmt","quoteId"],"properties":{"currencyCode":{"type":"string","description":"Currency Code identifies a medium of exchange which allows for the translation of different-valued denominations of money across the world. Example: USD=US Dollar (ISO 4217 format)"},"declaredValueAmt":{"type":"number","format":"float","description":"Declared Value Amount is the declared value of the shipment.  Available for both domestic and international shipments."},"declaredValueCharge":{"$ref":"#/definitions/Charge"},"insuranceAmt":{"type":"number","format":"float","description":"Insurance Amount is the insured value of the shipment.  Available only for international shipments."},"insuranceCharge":{"$ref":"#/definitions/Charge"},"quoteId":{"type":"string","description":"Quote Identifier is the identifier for the quote on which the insurance is based"}},"title":"DeclaredValueAndInsuranceServiceQuote","description":"Declared Value and Insurance Service Quote identifies the type, value, and cost of declared value and insurance in relation to an existing quote"},"DeliveryVehicleGeographicPosition":{"type":"object","properties":{"actualDeliveryVehiclePositions":{"type":"array","description":"Actual Delivery Vehicle Positions is an array of vehicle position.","items":{"$ref":"#/definitions/VehiclePosition"}},"airport":{"$ref":"#/definitions/Airport"},"currentDeliveryVehiclePosition":{"$ref":"#/definitions/VehiclePosition"},"deliveryVehicleColorText":{"type":"string","description":"Delivery Vehicle Color Text identifies the color of the delivery vehicle. Ex: \"Silver\""},"deliveryVehicleDesc":{"type":"string","description":"Delivery Vehicle Description identifies the type of delivery vehicle. Ex: \"Ford Transit\""},"driverName":{"$ref":"#/definitions/PersonName"},"waypointGeographicCoordinates":{"type":"array","description":"Waypoints Geographic Coordinates is the 2D model of the route with respect to latitude, longitude.","items":{"$ref":"#/definitions/GeographicCoordinate"}}},"title":"DeliveryVehicleGeographicPosition","description":"Delivery Vehicle Geographic Position provides various geographic location coordinates information for the delivery vehicle."},"Duration":{"type":"object","required":["dayCnt","hourCnt","minuteCnt"],"properties":{"dayCnt":{"type":"integer","format":"int32","description":"Day Count is used to denote the day count of the duration."},"hourCnt":{"type":"integer","format":"int32","description":"Hour Count is used to denote the hour count of the duration."},"minuteCnt":{"type":"integer","format":"int32","description":"Minute Count is used to denote the minute count of the duration."}},"title":"Duration","description":"Duration represents various time measures such as day, hour, and minute."},"Error":{"type":"object","required":["code","developerMessage","message"],"properties":{"code":{"type":"string","description":"The error code"},"developerMessage":{"type":"string","description":"Error message that has meaning for the API developer/consumer"},"message":{"type":"string","description":"The error message specifiying the details of the error"},"moreInfo":{"type":"array","description":"The list of all errors of this type, usefull mostly when multiple fields are concerned","items":{"$ref":"#/definitions/MoreInfo"}}},"title":"Error","description":"Error describes information about any problem processing a request"},"ExtendedCharacteristics":{"type":"object","properties":{"humanRemains":{"type":"array","description":"Human Remains represents information about the packaging of the remains and escort, if applicable","items":{"$ref":"#/definitions/HumanRemains"}},"petCharacteristics":{"$ref":"#/definitions/PetCharacteristics"},"shipmentSubTypeCode":{"type":"string","description":"Shipment Subtype Code identifies the sub-category of the shipment.  Ex: 'Dog', 'Cat', 'Child', or 'Adult'"},"shipmentTypeCode":{"type":"string","description":"Shipment Type Code identifies the category of the shipment.  Ex: 'PET' or 'HumanRemains'"}},"title":"ExtendedCharacteristics","description":"Extended Characteristics represents additional data needed for certain shipments like household pets and human remains"},"Filter":{"type":"object","required":["filterName","filterValueText"],"properties":{"filterName":{"type":"string","example":"goodsStatus.piecesStatusCode","description":"Filter Name is the dot-notated name of the field that should be used as a filter for the subscription.  Ex(for shipment goods status events): \"goodsStatus.piecesStatusCode\""},"filterValueText":{"type":"string","example":"GOODS ACCEPTED","description":"Filter Value Text is the value of the field identified by Filter Name, used to filter the results of the subscription.  Ex: \"GOODS ACCEPTED\""}},"title":"Filter","description":"Filter Information for subscription"},"FlightLegGeographicPosition":{"type":"object","properties":{"actualAircraftPositions":{"type":"array","description":"Actual Aircraft Positions is the 3D Model for the location of the aircraft is at actually and it represents the values in latitude, longitude and altitude.","items":{"$ref":"#/definitions/AircraftPosition"}},"currentAircraftPosition":{"$ref":"#/definitions/AircraftPosition"},"destinationAirport":{"$ref":"#/definitions/Airport"},"originAirport":{"$ref":"#/definitions/Airport"},"waypointGeographicCoordinates":{"type":"array","description":"Waypoints Geographic Coordinates is the 2D model of the route with respect to latitude, longitude.","items":{"$ref":"#/definitions/GeographicCoordinate"}}},"title":"FlightLegGeographicPosition","description":"Flight Leg Geographic Position provides various geographic location coordinates information for a flight leg."},"GeographicCoordinate":{"type":"object","required":["latitudeDegreeNum","longitudeDegreeNum"],"properties":{"latitudeDegreeNum":{"type":"number","format":"float","description":"Latitude Degree Number specifies the latitude in degrees. Ex: 45.4085"},"longitudeDegreeNum":{"type":"number","format":"float","description":"Longitude Degree Number specifies the longitude in degrees. Ex: -118.242578"}},"title":"GeographicCoordinate","description":"Geographic Coordinate defines a location on earth for a particular location."},"GoodsStatus":{"type":"object","properties":{"airportCode":{"type":"string","description":"Airport Code represents the airport associated to the goods status"},"containerId":{"type":"string","description":"Container Identifier represents the container that the pieces were associated with at the time of the status"},"personOrCompanyName":{"type":"string","description":"Person or Company Name is a person or company associated with the event.  Ex: for the delivery event, this would be the name of the driver or company that picked up the shipment at destination"},"piecesCnt":{"type":"integer","format":"int32","description":"Pieces Count is the number of individual pieces of the shipment with the defined status"},"piecesStatusCode":{"type":"string","description":"Pieces Status Code represents the status of the pieces.  Ex: \"GOODS ACCEPTED\"","enum":["GOODS ACCEPTED","TRANSFERRED INTERLINE","MANIFESTED (ASSIGNED TO FLIGHT)","CHECKED-IN","DELIVERED","CUSTOMER NOTIFIED","FORWARDED TO A BONDED WAREHOUSE","CLEARED CUSTOMS","ARRIVED IN NON-EQUIPPED STATION","ACCEPTED INTERLINE","GOODS REMOVED FROM FLIGHT","TRANSFER MANIFESTED","IN CUSTOMS - AUTOMATIC","CLEARED CUSTOMS - AUTOMATIC","AUTHORIZED LOCAL TRANSFER","AUTHORIZED INBOND MOVEMENT","DOCUMENTS DELIVERED TO CUSTOMER","FLIGHT DEPARTED","CHECKED-IN EXPRESS","BOOKED","SCAN CONFIRMED ONBOARD","SCAN FLIGHT ASSIGN","FLIGHT ARRIVAL","SHIPMENT.EN_ROUTE_TO_PICKUP","SHIPMENT.PICKUP_CONFIRMED","SHIPMENT.DELIVERY_CONFIRMED","OUT-FOR-DELIVERY","GOODS ON HAND","DELETED"]},"postalCode":{"type":"string","description":"Postal Code is used to identify the location of a door-to-door pick-up or delivery event"},"statusTs":{"type":"string","format":"date-time","description":"Status Timestamp is the timestamp of when the status occured"},"transportDestinationAirportCode":{"type":"string","description":"Transportation Destination Airport Code represents the destination airport of the flight or truck"},"transportId":{"type":"string","description":"Transport Identifier is the flight or truck number if the status is related to a flight or truck. Ex: \"DL1234\""},"transportTs":{"type":"string","format":"date-time","description":"Transport Timestamp represents the departure or arrival timestamp for the flight or truck if the status is related to a flight or truck in ISO 8601 format, Ex: \"2020-05-13T24:01:01Z\", \"2020-05-13T24:01:01-06:00\""},"weightQty":{"type":"number","format":"float","description":"Weight Quantity is the weight of the pieces of the shipment with the defined status"},"weightUnitCode":{"type":"string","description":"Weight Unit Code identifies the unit of weight.","enum":["KG","LB"]}},"title":"GoodsStatus","description":"Goods Status represents the state of a portion of a shipment at a particular moment in time"},"GpsDeviceQuoteResponse":{"type":"object","required":["gpsQty","quoteId"],"properties":{"gpsCharge":{"$ref":"#/definitions/Charge"},"gpsQty":{"type":"integer","format":"int32","description":"GPS Quantity is the number of GPS devices added to the quote"},"quoteId":{"type":"string","description":"Quote Identifier is the identifier for the quote on which the add-on is based"}},"title":"GpsDeviceQuoteResponse","description":"GPS Device Quote Response contains the GPS service quote details"},"GpsDeviceRequest":{"type":"object","required":["gpsQty"],"properties":{"gpsQty":{"type":"integer","format":"int32","description":"GPS Quantity is the number of GPS device quantity needed to apply on quote"}},"title":"GpsDeviceRequest","description":"GPS Device Request contains the criteria needed to provide a GPS device quote"},"HumanRemains":{"type":"object","properties":{"airContainerTypeCode":{"type":"string","description":"Air Container Type Code identifies how the remains are packaged for transport.  Ex: \"Air Tray\", \"Casket\"","enum":["Air Tray","Casket","Combo","Casket with Air Tray","Cremains"]},"bodyEmbalmed":{"type":"boolean","description":"Body Embalmed is set to true if the remains have been embalmed"},"containsGelPacks":{"type":"boolean","description":"Contains Gel Packs is set to true if the package contains gel packs"},"escortInfo":{"$ref":"#/definitions/HumanRemainsEscort"},"humanRemainsTypeCode":{"type":"string","description":"Human Remains Type Code identifies the characteristics of the Human Remains transport.  Ex: \"Adult\", \"Child/Infant\", \"Cremated Remains\"","enum":["Adult","Child/Infant","Cremated Remains"]}},"title":"HumanRemains","description":"The Human Remains object contains information about the packaging of the remains and escort, if applicable"},"HumanRemainsEscort":{"type":"object","properties":{"bookingConfirmationNum":{"type":"string","description":"Booking confirmation Number for the flight on which the escort is travelling"},"escortName":{"type":"string","description":"Escort Name is the name of the person who is serving as escort"},"escortType":{"type":"string","description":"Escort Type is the type of the person who is serving as escort","enum":["MILITARY","FAMILY","OTHER"]},"flightDate":{"type":"string","description":"Flight Date is the flight date for the flight on which the escort is travelling"},"flightNum":{"type":"string","description":"Flight Number is the flight number for the flight on which the escort is travelling"},"paymentInformationText":{"type":"string","description":"Payment Information Text identifies the payment information of the person who is serving as escort.  Example: \"Credit Card\""},"phoneNum":{"type":"string","description":"Phone Number is used to contact the person who is serving as escort"}},"title":"HumanRemainsEscort","description":"Human Remains Escort contains information about a person who is escorting human remains."},"IataCassAccount":{"type":"object","required":["iataCode"],"properties":{"cassCode":{"type":"string","description":"CASS Code is the the IATA Cargo Account Settlement Systems account identifier"},"iataCode":{"type":"string","description":"IATA Code is the International Air Transport Association identifier for the CASS account."}},"title":"IataCassAccount","description":"IATA CASS Account is used to identify an account in the International Air Transport Association Cargo Accounts Settlement System"},"Itinerary":{"type":"object","required":["destinationAirportCode","originAirportCode"],"properties":{"aircraftBodyTypeExclusionCode":{"type":"string","description":"Aircraft Body Type Exclusion Code represents any type of aircraft that should be excluded when generating routes.  Ex: \"NARROW\" for narrow body aircraft.","enum":["WIDE","NARROW","CONNECTION_CARRIER","TRUCK"]},"destinationAirportCode":{"type":"string","description":"Destination Airport Code is the location where a journey ends. EX: DTW"},"maximumConnectionPointsCnt":{"type":"integer","format":"int32","description":"Maximum Connection Points Count is the maximum number of connections between origin and destination. Ex: 1"},"originAirportCode":{"type":"string","description":"Origin Airport Code is the location from where a journey begins. Ex: ATL"},"routeSegments":{"type":"array","description":"Route Segements are the transportation segments of the route from carrier station to carrier station.","items":{"$ref":"#/definitions/TransportSegment"}}},"title":"Itinerary","description":"Itinerary is the planned route or journey defined by origin, destination, any preferred transit points, and excluded aircraft types."},"Link":{"type":"object","required":["httpMethodCode","relationId","urlText"],"properties":{"httpMethodCode":{"type":"string","description":"HTTP Method Code is the HTTP method to use when invoking the provided URL","enum":["GET","POST","PUT","PATCH"]},"relationId":{"type":"string","description":"Relation Identifier is represents the identifier of the resource or action represented by the link.  Ex: \"trackingDevices\""},"urlText":{"type":"string","description":"URL Text is the URL to invoke to perform the action or retreieve the related resource"}},"title":"Link","description":"Link defines an additional action or resource related to the requested action or resource.  For example, a shipment resource may have a link to the tracking devices for the shipment"},"Location":{"type":"object","required":["locationCode","locationTypeCode"],"properties":{"locationCode":{"type":"string","description":"Location Code is the identifier for the location. Ex: NYC"},"locationName":{"type":"string","description":"Location Name is the name of the place or area. Ex: New York City"},"locationTypeCode":{"type":"string","description":"Location Type Code represents the type of place or area.  Ex: CITY","enum":["CITY","AIRPORT","COUNTRY","ZONE"]}},"title":"Location","description":"Location represents a physical place or area"},"LooseItem":{"type":"object","required":["heightQty","lengthQty","piecesCnt","stackable","turnable","widthQty"],"properties":{"heightQty":{"type":"number","format":"float","description":"Height Quantity is the height of each piece"},"lengthQty":{"type":"number","format":"float","description":"Length Quantity is the length of each piece"},"piecesCnt":{"type":"integer","format":"int32","description":"Pieces Quantity is the number of loose pieces"},"stackable":{"type":"boolean","description":"Stackable is set to true if other items be placed on top of this one"},"turnable":{"type":"boolean","description":"Turnable is set to true if this item can rest on any side"},"weightPerPieceQty":{"type":"number","format":"float","description":"Weight Per Piece Quantity is the weight of each piece"},"widthQty":{"type":"number","format":"float","description":"Width Quantity is the width of each piece"}},"title":"LooseItem","description":"Loose Item represents the characteristics of a portion of a shipment that is not enclosed within a container for the purposes of a quote or booking"},"Measurement":{"type":"object","required":["measurementQty","measurementUnitCode"],"properties":{"measurementQty":{"type":"number","format":"float","description":"Measurement Quantity is a number representing the measured value with units specified by measurementUnitCode"},"measurementUnitCode":{"type":"string","description":"Measurement Unit Code defines the units that apply to the quantity.  Ex: \"KG\", \"LB\", \"L\""}},"title":"Measurement","description":"Measurement is used to define a unit of measure and the associated quantity"},"MoreInfo":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","description":"Error instance code"},"detailText":{"type":"string","description":"explaination of the problem, why it happened, how to solve, instance specific"},"field":{"type":"string","description":"errorInstance field comment"},"instanceText":{"type":"string","description":"linked to detail, URI to human readable description related to the problem instance"},"message":{"type":"string","description":"The error instance message describing the error"}},"title":"MoreInfo","description":"More Info provides additional detail on an error"},"Participant":{"type":"object","required":["contact","roleCode"],"properties":{"aeoNum":{"type":"string","description":"Authorized Economic Operator Number is the World Customs Organization AEO number for the participant"},"airportCode":{"type":"string","description":"Airport Code is the identification code of the airport associated with the participant"},"contact":{"$ref":"#/definitions/Contact"},"contactPersonName":{"type":"string","example":"John Doe","description":"Contact Person Name is the full name of the person who is the point of contact for the participant"},"contactPersonPhoneNum":{"type":"string","description":"Contact Person Phone Number is the phone number for the person who is the point of contact for the participant"},"iataCass":{"$ref":"#/definitions/IataCassAccount"},"identificationCode":{"type":"string","description":"Identification Code represents a means of identification for the participant"},"identificationTypeCode":{"type":"string","example":"Organization Code","description":"Identification Type Code specifies what type of identification is used by the participant.  Accepted values: \"Unified Social Credit Code\" (of the company), \"Organization Code\" (of the company), \"Registered ID Code\" (of shipper/consignee), \"Personal Social ID\", \"Passport ID\", \"Other Personal ID\""},"participantId":{"type":"string","description":"Participant ID uniquely identifies a participant."},"roleCode":{"type":"string","description":"Role Code represents the role of the participant on a cargo shipment. Ex: AGENT","enum":["AGENT","SHIPPER","CONSIGNEE","DELIVERY_OPERATOR","BILL_TO_SHIPPER","BILL_TO_CONSIGNEE","GROUND_SHIPPER","GROUND_CONSIGNEE","NOTIFY"]}},"title":"Participant","description":"Participant represents a person, entity, or organization that plays a role on a shipment"},"PersonName":{"type":"object","required":["firstName","lastName"],"properties":{"firstName":{"type":"string","description":"First Name specifies the given name of a person. Ex: John"},"lastName":{"type":"string","description":"Last Name specifies the family name of a person. Ex: Doe"}},"title":"PersonName","description":"Person Name represents the given and family name of a person."},"PetCharacteristics":{"type":"object","properties":{"customCarrierHeightQty":{"type":"number","description":"Custom Carrier Height Quantity is the height of the pet carrier. Required if the petCarrierSeriesCode is CUSTOM"},"customCarrierLengthQty":{"type":"number","description":"Custom Carrier Length Quantity is the length of the pet carrier. Required if the petCarrierSeriesCode is CUSTOM"},"customCarrierUnitsOfMeasure":{"$ref":"#/definitions/UnitsOfMeasure"},"customCarrierWeightQty":{"type":"number","description":"Custom Carrier Weight Quantity is the weight of the pet carrier. Optional if the petCarrierSeriesCode is CUSTOM."},"customCarrierWidthQty":{"type":"number","description":"Custom Carrier Width Quantity is the width of the pet carrier. Required if the petCarrierSeriesCode is CUSTOM"},"petBreedName":{"type":"string","description":"Pet Breed Name represents the breed of the household pet.  Ex: 'Russel Terrier', 'Dachshund'"},"petCarrierQuantity":{"type":"integer","format":"int32","description":"Pet Carrier Quantity is the number of carriers."},"petCarrierSeriesCode":{"type":"string","description":"Pet Carrier Series Code represents the size and type of pet carrier.  Dimensions (Inches): * 100: L:21 W:16 H:15 * 200: L:28 W:20.5 H:21.5 * 300: L:32 W:22.5 H:24 * 300-POD: L:33.4 W:25 H:26.1 (CarePod See: https://www.deltacargo.com/Cargo/catalog/products/pets) * 400: L:36 W:25 H:27 * 500: L:40 W:27 H:30 * 700: L:48 W:32 H:35 ","enum":["100","200","300","300-POD","400","500","700","CUSTOM"]},"petQuantity":{"type":"integer","format":"int32","description":"Pet Quantity is the number of pets of identical characteristics."},"petWeightQty":{"type":"number","description":"Pet Weight Quanity is the weight of the pet(s)"},"petWeightUnitCode":{"type":"string","description":"Pet Weight Unit Code identifies the unit of weight.","enum":["KG","LB","OZ"]}},"title":"PetCharacteristics","description":"Pet Characteristics identifies the breed and size/type of carrier for the pet"},"PickupDeliveryQuote":{"type":"object","required":["charges","deliveryTs","knownShipper","pickUpTs","quoteId"],"properties":{"charges":{"type":"array","description":"Charges describes the cost of the pick-up and/or delivery service","items":{"$ref":"#/definitions/Charge"}},"deliveryContact":{"$ref":"#/definitions/Contact"},"deliveryInstructionsText":{"type":"string","description":"Delivery Instructions Text is free text describing any additional instructions for the delivery driver"},"deliveryTs":{"type":"string","format":"date-time","description":"Delivery Timestamp is the time that the shipment is scheduled to be delivered"},"knownShipper":{"type":"boolean","description":"Known Shipper should be set to true if the shipper is registered with the United States Transport Security Administration"},"pickUpInstructionsText":{"type":"string","description":"Pick-up Intstructions is free text describing any additional instructions for the pick-up driver"},"pickUpTs":{"type":"string","format":"date-time","description":"Pick-Up Timestamp is the time that the shipment is scheduled be picked up"},"pickupContact":{"$ref":"#/definitions/Contact"},"quoteId":{"type":"string","description":"Quote Identifier is the identifier for the quote on which the pick-up/delivery service is based"}},"title":"PickupDeliveryQuote","description":"Pick-Up Delivery Quote contains the Pick Up Delivery Request details and the scheduled pick-up and delivery times, and the associated charges"},"PickupDeliveryRequest":{"type":"object","required":["knownShipper"],"properties":{"deliveryContact":{"$ref":"#/definitions/Contact"},"deliveryInstructionsText":{"type":"string","description":"Delivery Instructions Text is free text describing any additional instructions for the delivery driver"},"knownShipper":{"type":"boolean","description":"Known Shipper should be set to true if the shipper is registered with the United States Transport Security Administration"},"pickUpInstructionsText":{"type":"string","description":"Pick-up Intstructions is free text describing any additional instructions for the pick-up driver"},"pickupContact":{"$ref":"#/definitions/Contact"}},"title":"PickupDeliveryRequest","description":"Pick Up Delivery Request contains the criteria needed to provide a pick-up and/or delivery quote or add pick-up and/or delivery service"},"PickupDeliverySegment":{"type":"object","required":["knownShipper","pickUp","pickUpDeliveryBookingReferenceId","pickUpDeliveryBookingStatusCode","pickUpDeliveryVendorName"],"properties":{"customerContact":{"$ref":"#/definitions/Contact"},"deliveryTs":{"type":"string","format":"date-time","description":"Delivery Timestamp is the time that the shipment is scheduled be delivered at destination (Cargo facility for the first mile or customer address for the final mile)"},"driverInstructionsText":{"type":"string","description":"Pick-up Intstructions is free text describing any additional instructions for the pick-up driver"},"knownShipper":{"type":"boolean","description":"Known Shipper should be set to true if the shipper is registered with the United States Transport Security Administration"},"pickUp":{"type":"boolean","description":"Pick Up is set to true if this is a pick-up segment.  False if it is a delivery segment."},"pickUpDeliveryBookingReferenceId":{"type":"string","description":"Pick-Up Delivery Booking Reference Identifier is the pick-up delivery vendor's booking reference id"},"pickUpDeliveryBookingStatusCode":{"type":"string","description":"Pick-Up Delivery Booking Status Code is the pick-up delivery vendor's booking status code"},"pickUpDeliveryVendorName":{"type":"string","description":"Pick-Up Delivery Vendor is the name of the vendor that is providing the pick-up or devlivery service. Ex: Roadie"},"pickUpTs":{"type":"string","format":"date-time","description":"Pick-Up Timestamp is the time that the shipment is scheduled be picked up at origin (customer address for the first mile or cargo facility for the final mile)"}},"title":"PickupDeliverySegment","description":"Pickup Delivery Segment represents pick-up from shipper at origin station and/or delivery to final destination address at destination station"},"Price":{"type":"object","required":["charges","subTotalAmt"],"properties":{"charges":{"type":"array","description":"Charges are the cost of services billed to a customer and the criteria that is used to determine those costs","items":{"$ref":"#/definitions/Charge"}},"subTotalAmt":{"type":"number","format":"float","description":"Sub Total Amount is the sum of the individual charges"}},"title":"Price","description":"Price is a collection of individual charges and the sub-total for that collection of charges"},"Pricing":{"type":"object","required":["currencyCode","freightCharges","totalAmt"],"properties":{"currencyCode":{"type":"string","description":"Currency Code identifies a medium of exchange which allows for the translation of different-valued denominations of money across the world. Example: USD=US Dollar (ISO 4217 format)"},"freightCharges":{"$ref":"#/definitions/Price"},"otherCharges":{"$ref":"#/definitions/Price"},"surcharges":{"$ref":"#/definitions/Price"},"totalAmt":{"type":"number","format":"float","description":"Total Amount is the sum of all freight charges, other charges and surcharges"}},"title":"Pricing","description":"Pricing represents the currency and charges for a quote or booking"},"Product":{"type":"object","properties":{"commodityCode":{"type":"string","description":"Commodity Code represents the classification of the goods being transported. Ex: \"0199\""},"commodityLabelText":{"type":"string","description":"Commodity Label Text is the human readable name of the commodity.  Ex: \"Domestic warm blooded pet\""},"productCode":{"type":"string","description":"Product Code represents a product, used in combination with special handling codes.  Example: DSH"},"productLabelText":{"type":"string","description":"Product Label Text is the human readable name of the product represented by the product code.  Example: DASH"},"serviceLevelCode":{"type":"string","description":"Service Level Code identifies the level of service provided by the product.  Ex: \"STANDARD\"","enum":["STANDARD","EXPRESS"]},"specialHandlingCodes":{"type":"array","description":"Special Handling Codes describe specific handling required. Ex: AVI=Live Animal, PER=Perishable","items":{"type":"string"}}},"title":"Product","description":"Product represents the type of service provided for a cargo booking."},"PublishedCharge":{"type":"object","required":["chargeAmt","currencyCode","loadTypeCode","rateAmt","unitCode"],"properties":{"basisCode":{"type":"string","description":"Basis Code represents the charge basis code. Ex: CHARGEABLE_WEIGHT","enum":["CHARGEABLE_WEIGHT","GROSS_WEIGHT","PIECE"]},"basisQty":{"type":"integer","format":"int32","description":"Basis Quantity represents the charge basis quantity"},"chargeAmt":{"type":"number","format":"float","description":"Charge Amount represents the charge amount as determined by the rate amount applied to the unit basis"},"chargeCode":{"type":"string","description":"Charge Code represents the charge code"},"chargeDesc":{"type":"string","description":"Charge Description is a textual description of the charge"},"currencyCode":{"type":"string","description":"Currency Code identifies a medium of exchange which allows for the translation of different-valued denominations of money across the world. Example: USD=US Dollar (ISO 4217 format)"},"loadTypeCode":{"type":"string","description":"Load Type Code represents the load type. Ex: Bulk","enum":["BULK","BUP"]},"paymentLocationCode":{"type":"string","description":"Payment Location Code represents where payment is made. Ex: Origin","enum":["ORIGIN","DESTINATION"]},"paymentMethodCode":{"type":"string","description":"Payment Method Code represents the payment method type. Ex: Debit","enum":["DEBIT","ACCOUNT"]},"rateAmt":{"type":"number","format":"float","description":"Rate Amount represents the rate that is applied to the unit basis in order to determine a charge."},"rateId":{"type":"string","description":"Rate Id uniquely identifies a rate"},"uldType":{"$ref":"#/definitions/UldType"},"unitCode":{"type":"string","description":"Unit Code represents the unit measure. Ex: FLAT","enum":["FLAT","MINIMUM","PER_UNIT_BASIS"]}},"title":"PublishedCharge","description":"Published Charge represents the published cost of a service billed to a customer and the criteria that is used to determine that cost.  May be different from the actual charge if a contract, promo, spot, or manual rate is applicable."},"Quote":{"type":"object","required":["expirationTs","links","pricing","product","quoteId","quotesRequest","routing"],"properties":{"expirationTs":{"type":"string","format":"date-time","description":"Expiration Timestamp is date and time at which the quote is no longer valid in ISO 8601 format, Ex: \"2020-05-13T24:01:01Z\", \"2020-05-13T24:01:01-06:00\""},"links":{"type":"array","description":"Links defines additional actions or resources related to the requested action or resource.","items":{"$ref":"#/definitions/Link"}},"pricing
[...]
